$ufc-footer-black: #000000;
$ufc-black: #19191E;
$ufc-red: #D20A0A;
$ufc-redHover: #D20A0A;
$ufc-white: #FFFFFF;
$ufc-gray1: #585B63;
$ufc-gray2: #D8D6D8;
$ufc-gray2-5: #D8D6D8;
$ufc-gray3: #EEEEEF;
$ufc-gray3-5: #EEEEEF;
$ufc-gray4: #EEEEEF;

$hoverBackgroundColor: $ufc-gray3;
$colorDarkest: $ufc-black;
$colorDark: $ufc-gray4;
$colorMild: $ufc-gray3;
$colorLight: $ufc-gray2;
$colorGreenishGrey: $ufc-gray1;
$colorLighter:$ufc-gray1;
$colorLightest: $ufc-white; 
$fontSize76: 76px;
$fontSize61: 61px;
$fontSize49: 49px;
$fontSize39: 39px;
$fontSize31: 31px;
$fontSize25: 25px;
$fontSize20: 20px;
$fontSize16: 16px;
$fontSize13: 13px;
$lineHeightHeading: 1.65px;
$lineHeightBody: 1.85px;