$ja-footer-black: #130907;
$ja-black: #1C0D0B;
$ja-red: #E23C33;
$ja-redHover: #AE2019;
$ja-white: #FDF6EE;
$ja-gray1: #F2EBE3;
$ja-gray2: #B7ACA4;
$ja-gray2-5: #A79D96;
$ja-gray3: #665954;
$ja-gray3-5: #4D3B33;
$ja-gray4: #302520;

$hoverBackgroundColor: $ja-gray3;
$colorDarkest: $ja-black;
$colorDark: $ja-gray4;
$colorMild: $ja-gray3;
$colorLight: $ja-gray2;
$colorGreenishGrey: $ja-gray1;
$colorLighter:$ja-gray1;
$colorLightest: $ja-white; 
$fontSize76: 76px;
$fontSize61: 61px;
$fontSize49: 49px;
$fontSize39: 39px;
$fontSize31: 31px;
$fontSize25: 25px;
$fontSize20: 20px;
$fontSize16: 16px;
$fontSize13: 13px;
$lineHeightHeading: 1.65px;
$lineHeightBody: 1.85px;