$ufc-footer-black: #000000;
$ufc-black: #19191E;
$ufc-red: #D20A0A;
$ufc-redHover: #890608;
$ufc-white: #FAFBFD;
$ufc-gray1: #EEEEEF;
$ufc-gray2: #585B63;
$ufc-gray2-5: #D5D6D8;
$ufc-gray3: #D8D6D8;
$ufc-gray3-5: #ABADB1;
$ufc-gray4: #585B63;

$hoverBackgroundColor: $ufc-gray3;
$colorDarkest: $ufc-footer-black;
$colorDark: $ufc-black;
$colorMild: $ufc-gray3;
$colorGreenishGrey: $ufc-gray1;
$colorLight: $ufc-gray3;
$colorLighter:$ufc-gray2;
$colorLightest: $ufc-gray1; 
$fontSize76: 76px;
$fontSize61: 61px;
$fontSize60: 60px;
$fontSize49: 49px;
$fontSize39: 39px;
$fontSize31: 31px;
$fontSize25: 25px;
$fontSize20: 20px;
$fontSize16: 16px;
$fontSize14: 14px;
$fontSize13: 13px;
$lineHeightHeading: 1.65px;
$lineHeightBody: 1.85px;