.events-hero{
	background: $ufc-white;
    -webkit-box-shadow: 0 2px 8px rgba(99,91,99,0.10);
    box-shadow: 0 2px 8px rgba(99,91,99,0.10);
    margin-bottom: 24px;
    position: relative;
    // @include media-breakpoint-up(lg) {

    // 	height: 392px;
    // }
    overflow: hidden;
    padding: 18px;
}
.event-heading{
	color: $colorMild;
	text-transform: upper;
	font-size: $fontSize31;
	font-weight: bold;
	margin-bottom: 30px;
}
.event-list{
	.nav-item{
		.nav-link{
			font-size: $fontSize13;
		}
	}
}
.event-hero-left{
    @include media-breakpoint-up(lg) {
		// position: absolute;
	    // width: 70%;
	    padding: 20px 10px;
	    left: 55px;
	    color: $colorDark;
	}


    h2{
    	color: $colorDark;
    	font-weight: bold;
	    font-size: 25px;
			text-transform: uppercase;

    	@include media-breakpoint-up(lg) {

	    	font-size: $fontSize31;
	    }
    }
    .event-code-holder{
    	@include media-breakpoint-up(lg) {

    		width: 62%;
    	}
    }

}
.event-hero-right{
	display:none;
    @include media-breakpoint-up(lg) {
		display:block;

		position: absolute;
	    width: 30%;
	    right: 0;
	}
}
.accesscode{
	background: #fff;
	// padding: 2px;
    @include media-breakpoint-up(lg) {

    	padding: 2px 22px;
    }
    border-radius: 20px;
    input{
    	border:none;
    	font-size: 22px;

    	@include media-breakpoint-up(lg) {

    		font-size: $fontSize25;
    	}
	    font-weight: bold;
	    letter-spacing: 6px;
    }
}
.event-code-headinng{
	font-weight: 600;
    font-size: 15px;
}
.select{
    overflow: hidden; 
    padding: 0px 20px;
    position: relative;
    display: block;
}
.select-pills{
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
	background: $ufc-gray3;
    color: #F0F4F4;
    border-radius: 25px;
    padding: 0px  20px;
    display:block;
    margin: 0 auto;
    border-color: $ufc-gray3;
    -webkit-appearance: none;
    @include media-breakpoint-up(lg) {
    	display:none;
    }
}
.select:after {
    content:"\f0d7";
    font-family: 'FontAwesome';
    color: #fff;
    position: absolute; right: 16px; top: 0;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;      
    pointer-events: none;
    box-sizing: border-box;   
}

.event-pills{
	display:none;
	@include media-breakpoint-up(lg) {
    	display:flex;
    }
    .nav-item{
        margin: 10px 16px;
    }
}

.events-load-more-loading{
	width: 162px;
	margin: 0 auto;
}
