
header.site-header{
		-webkit-box-shadow: 0px 2px 13px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px 2px 13px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         0px 2px 13px 0px rgba(50, 50, 50, 0.75);
}
header.site-header.site-header-no-shadow{
	box-shadow: none;
}
.home{
	
	header.site-header{
		box-shadow:none;

		nav.homepage-navbar{
			box-shadow:none;
		}
		nav{

		-webkit-box-shadow: 0px 2px 13px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px 2px 13px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         0px 2px 13px 0px rgba(50, 50, 50, 0.75);
		}
	}
}
.navbar{
	padding: 0.01rem 1rem;
	
}
.navbar-light .navbar-toggler{
	border:none;
	padding: 0;
}
.navbar-brand{
	margin: 0 auto;
}
header #menu-main-navigation .nav-item{
	margin: 0px 6px;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}
header #menu-main-navigation .nav-item a{
	padding: 0;
	@include media-breakpoint-up(md) { 

		padding: 8px 16px;
	}

}
header #menu-main-navigation .nav-item.active{
	margin-left: 16px;
	margin-right: 16px;

}
header #menu-main-navigation .nav-item.active a{
	padding: 0;
	@include media-breakpoint-up(md) { 

		padding: 8px 0px;
	}

}
header .nav-item{
	
	margin: 10px 6px;
}
.nav-item{
	text-align: center;
	@media (min-width: 768px) { 
		margin: 10px 22px;
	}
	a{
		color: $colorDark;
		letter-spacing: 0.15em;
		font-size: 16px;

		text-transform: uppercase;
		text-align: center;
		span{
		
				font-weight: 600;
			@include media-breakpoint-up(md) { 
				font-weight: 500;

			}
		}
	}
}
.navbar-light .navbar-nav .nav-link{
		color: $ja-white;
		display:inline-block;
	
}
.nav-item.active .nav-link {
	border-bottom: 2px solid $colorLight;
}
.nav-item:not(.active):hover > a{
	background: none;
	@media (min-width: 992px) { 
		background: $ja-gray4;
		border-radius: 25px;
	}
}
/*.nav-item:not(.active):hover .nav-link{
	background: $hoverBackgroundColor;
	border-radius: 25px;
}*/
.dropdown:hover>.dropdown-menu {
  	display: block;
    margin-top: 0;
    padding-top: 0;
    right: 0;
    left: auto;
    border: none;
    border-radius: 16px;
}
.nav-pills .nav-link{
	font-weight: 600;
}
.nav-pills .nav-link.active{
	background: $colorDarkest;
	color: $colorLightest;
	border-radius: 25px;
}
.home{
	.navbar-default{
		display:none;
	}
}

.site-footer .nav-item:not(.active):hover{
	background: transparent;
		
	.nav-link {
	    background: transparent;
	    border-radius: unset;
	    color: $colorDark;
	    
	}
} 

/* hide close when burger shown */
   .navbar-toggler.collapsed .close-icon {
      display: none;
			color: $ja-white;
   }

   .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
      display: inline;
   }
.footer-nav {
	.nav-item{
		width: 100%;
		@include media-breakpoint-up(lg) {  
		  	width: unset;
		}

	}
}
.secondary-navigation{
	background: $ja-white;
	.secondary-navigation-container{
		padding: 0px;
	}
	.container-fluid.container-second-nav{
		padding: 0px 38px;
		.list-social-handles{
		/*    justify-content: center;*/
		    .list-group-item{
		    	padding-bottom: 0px;
		    	padding-top: 8px;
		    	padding-left: 0.65rem;
		    	padding-right: 0.65rem;
		    	margin: 3px 0px;
		    	background: transparent;
	    		border: none;
	    		a {
	    			color: $ja-black;
	    			i {
	    				font-size: 1.2em;
	    			}
	    		}
		    }
		}

		.nav-item{
		/*	margin-right: 0;*/

			margin: 6px ;
			@include media-breakpoint-up(lg) {  
				margin: 6px ;
			}
			a{
				font-size: 12px;
				color: #fff;
			}
		}
		.nav-item:hover{
			a{
				color: $colorMild;
			}

		}
	}

}
.secondary-signin-button {
	border: 3px solid $colorLightest;
	border-radius: 25px;

	a{
		    color: $colorLightest;
		    padding: 2px;
		    
		    font-weight: 300;
		    font-size: 12px;
		span{
		    	color: $colorLightest;

		    	display:block;
		        padding: 10px;

		    }
	}
}
.secondary-emphasis-button {
	border: 3px solid #b7c8B7;
	border-radius: 25px;
	a{
		    color: #fff;
		    padding: 2px;

		    font-weight: 300;
		    font-size: 12px;
		    span{
		    	display:block;
		        background: $colorLightest;
			    color: #000;
			    border-radius: 25px;
			    padding: 10px;

		    }
	}
}
.secondary-emphasis-button:hover, .secondary-signin-button:hover 
{
	border: 3px solid $colorDark;
	background: $colorDark !important;
	

	span{
	background: $colorDark !important;

		color: $colorLightest !important;
		
	}
}
.nav-social-brand-container{
	display:flex;
	justify-content: center;
	@include media-breakpoint-up(lg) {  
		display:none;
	}
	li{
		background: transparent;
		border:none;

		a{

			color: $ja-white;
			i{
				font-size: 1.4rem;
			}
		}
	}
}
.navbar-collapse.collapse.show{
	    position: fixed;
    top: 3px;
    background: $ja-gray3;
    z-index: 1111;
    right: 1px;
    width: 94%;
    padding-top: 40px;
    max-height: 100vh;
    overflow-y: auto;
}
.navbar-toggler:not(.collapsed){
	position: fixed;
    right: 14px;
    z-index: 1222;
    top: 16px;
}
.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
@include media-breakpoint-up(md) {  

	.navbar-expand-lg .navbar-nav .nav-link{
		/*padding-left: 1.2em;
		padding-right: 1.3em;*/
		padding:0;
	}
}
.nav-pills .nav-item:hover .nav-link.active {
	background: $colorDarkest;
	color: $colorLightest;
    
}
.dropdown:hover > .dropdown-menu{
	padding: 0;
	display :none;
	@include media-breakpoint-down(sm) { 
		.nav-item{
			margin:5px !important;
			padding: 0 !important;
			a{
				background: transparent !important;
			}
		}
		span{
			font-size: $fontSize13;
			color: $colorMild;
			font-weight: bold;
		}
	}
	@media (min-width: 992px) { 

		margin-top: 12px;
		display :block;

		padding: 30px 17px ;
		background: $ja-gray2-5;	
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
		
	}
}
.home .homepage-navbar .dropdown:hover > .dropdown-menu .nav-item{
	margin: 10px 6px;
}
.dropdown-item{
	
    /*padding: 0.5em 1.2em;*/
    padding: 0;
}
.dropdown-item:hover, .dropdown-item:focus{
	background: $ja-gray1;
	border-radius:25px;
	
}
.nav-item.show .dropdown-toggle::after{
	font-family: 'FontAwesome';
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "\f077";
    border: none;
    font-size: 10px;
    font-weight: 400;
}
.dropdown-toggle::after {
	font-family: 'FontAwesome';
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "\f078";
    border: none;
    font-size: 10px;
    font-weight: 400;
}
.nav-link{
	padding: 0.5rem 25px
}

#secondary-navigation-box{
	.nav-link{
		span{
			color: $colorLightest;
			font-weight: 600;
			border-radius: 25px;
		}

	}
	.nav-item:hover{
		span{
			color: $colorMild;

		}

	}
}
#secondary-navigation-box {
	.secondary-emphasis-button a span{
		color: $colorDark;
	}	
	.secondary-emphasis-button.nav-item:hover span{
		color: $colorDark;
	}
}
@include media-breakpoint-up(md) {  
	/* I really dont want to do this, but i have limited choice so i went for it.*/
	
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
	color: $ja-white;
}

.navbar-light .navbar-nav .dropdown-toggle:hover, .navbar-light .navbar-nav .dropdown-toggle:focus {
	cursor: default;
}

.navbar {
	background-color: $ja-black;
}

.dropdown-menu {
	background-color: $ja-gray4;
}
.list-social-handles {
	a {
		transition: 0.15s opacity ease-in;
		&:hover, &:focus {
			text-decoration: none;
			opacity: 0.8;
		}
	}
}