header.site-header{
		-webkit-box-shadow: 0px 2px 13px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px 2px 13px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         0px 2px 13px 0px rgba(50, 50, 50, 0.75);
}
.home{
	
	header.site-header{
		box-shadow:none;

		nav.homepage-navbar{
			box-shadow:none;
		}
		nav{

		-webkit-box-shadow: 0px 2px 13px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px 2px 13px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         0px 2px 13px 0px rgba(50, 50, 50, 0.75);
		}
	}
}
.navbar{
	padding: 0.01rem 1rem;
	
}
.navbar-light .navbar-toggler{
	border:none;
	padding: 0;
}
.navbar-brand{
	margin: 0 auto;
}
header .nav-item{
	margin: 10px 22px;
}
.nav-item{
	text-align: center;
	@media (min-width: 768px) { 
		margin: 10px 22px;
	}
	a{
		color: $colorDark;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
	}
}
.nav-item.active .nav-link {
	border-bottom: 2px solid $colorMild;
}
.nav-item:not(.active):hover .nav-link{
	background: $hoverBackgroundColor;
	border-radius: 25px;
}
.dropdown:hover>.dropdown-menu {
  	display: block;
    margin-top: 0;
    padding-top: 0;
    right: 0;
    left: auto;
    border: none;
    border-radius: 16px;
}

.nav-pills .nav-link.active{
	background: $colorDarkest;
	color: $colorLightest;
	border-radius: 25px;
}
.home{
	.navbar-default{
		display:none;
	}
}
.site-footer .nav-item:not(.active):hover .nav-link {
    background: transparent;
    border-radius: unset;
    color: $colorDark;
    
}
/* hide close when burger shown */
   .navbar-toggler.collapsed .close-icon {
      display: none;
   }

   .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
      display: inline;
   }
.footer-nav {
	.nav-item{
		width: 100%;
		@include media-breakpoint-up(lg) {  
		  	width: unset;
		}

	}
}
.secondary-navigation{
	background: $colorMild;
	.container-fluid.container-second-nav{
		padding: 0px 38px;
		.list-social-handles{
		/*    justify-content: center;*/
		    .list-group-item{
		    	padding-bottom: 0px;
		    	padding-top: 8px;
		    	margin: 3px 0px;
		    	background: transparent;
	    		border: none;
	    		a{
	    			color: #fff;
	    			i{
	    				font-size: 1.2em;
	    			}
	    		}
		    }
		}

		.nav-item{
			margin: 6px 22px;
			margin-right: 0;
			a{
				font-size: 12px;
				color: #fff;
			}
		}
	}

}
.secondary-signin-button {
	border: 1px solid #fff;
	border-radius: 25px;

	a{
		    color: #fff;
		    padding: 8px 16px;
		    font-weight: 300;
		    font-size: 12px;
		
	}
}
.secondary-emphasis-button {
	border: 1px solid #fff;
	border-radius: 25px;
	a{
		    color: #fff;
		    padding: 8px 3px;

		    font-weight: 300;
		    font-size: 12px;
		    span{
		        background: #fff;
			    color: #000;
			    border-radius: 25px;
			    padding: 8px 10px;
		    }
	}
}
.nav-social-brand-container{
	display:flex;
	justify-content: center;
	@include media-breakpoint-up(lg) {  
		display:none;
	}
	li{
		background: transparent;
		border:none;

		a{

			color: $colorMild;
			i{
				font-size: 1.4rem;
			}
		}
	}
}