.slider > .container-fluid{
	padding-left:0;
	padding-right:0;
}
.swiper-pagination{
	display: block;
	position: unset;
	background: $colorLight;
	padding: 10px;
	@include media-breakpoint-up(md) {  
		position:absolute;
		padding: unset;
		background: transparent;

	}
}

.slider--right-rounded {
	border-top-right-radius: 500px;
	border-bottom-right-radius: 500px;
	overflow: hidden;
	@media (max-width: 960px) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}