html {
  overflow-x: hidden;
}

/**/
/* News Cards */
/**/
.news-cards {
  display: flex;
  // flex-wrap: wrap;
  &.show {
    display: flex !important;
  }
}
.news-card {
  margin-bottom: 30px;
}
.news-card__content {
  height: 0;
  padding-top: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  overflow: hidden;
  transition: transform 0.15s ease-out;
  box-shadow: 0 16px 16px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.15);
  &:hover, &:focus {
    transform: scale(1.05);
  }
  .card-body {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background:linear-gradient(rgba(0,0,0,0) 30%, rgba(0,0,0,0.7)), rgba(0,0,0,0.5);
    transition: background 0.15s ease-out;
    &:hover, &:focus {
      background:linear-gradient(rgba(0,0,0,0) 30%, rgba(0,0,0,0.8)), rgba(0,0,0,0);
    }
  }
  .card-subtitle {
    color: $ja-white;
    font-size: 16px;
    line-height: 1;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  }
  .card-title {
    color: $ja-white;
    font-size: 25px;
    line-height: 1.1;
    margin-bottom: 0;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  }
}

/**/
/* Hero Banner */
/**/
.banner--full {
  // min-height: 100vh;
  position: relative;
  max-width: 2560px;
  max-height:1268px;
  min-height: unset !important;
  padding: 0;
  margin-top: 62px;
  height: 52vw;
  @media (min-width: 2560px) {
    left: 50%;
    transform: translateX(-50%);
  }
  .banner-panel-left {
    left: 100px;
    margin-top: 85px;
    width: 35%;
  }
  .banner-panel-right {
    height: unset !important;
  }
}
.banner__video {
  width: 105vw;
  max-width: 2560px;
  max-height:1268px;
  position: absolute;
  height: 52vw;
  background-color: black;
  left:0;
  @media (max-width: 960px) {
    width: 100%;
    height: 56vw;
  }
  video {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
  }
  @media (min-width: 2560px) {
    left: 50%;
    transform: translateX(-50%);
  }
}
.banner__video--rounded {
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  overflow: hidden;
  @media (max-width: 960px) {
    border-radius: 0;
  }
}
.floating-cta--video {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  width: 105vw;
  height: 52vw;
  max-width: 2560px;
  max-height:1268px;
  @media (min-width: 2560px) {
    left: 50%;
    transform: translateX(-50%);
  }
  @media (max-width: 960px) {
    width: 100vw;
    height: 56vw;
    display: none;
  }
  // padding-top: 54%;
  .social-holder {
    margin: 0;
    position: absolute;
    right: 0;
    width: 52vw;
    height: 52vw;
    max-width: 1268px;
    max-height:1268px;
    .list-social-handles {
      display: block;
      padding: 0;
      height: 100%;
      width: 100%;
      position: relative;
      .list-group-item {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 44%;
        height: 44%;
        @media (min-width: 1500px) {
          width: 43%;
          height: 43%;
        }
        @media (min-width: 2000px) {
          width: 41%;
          height: 41%;
        }
        transform-origin: top left;
        transform: rotate(10deg);
        a {
          transform: rotate(-10deg);
        }
        &:nth-child(2) {
          transform:rotate(20deg);
          a {
            transform: rotate(-20deg);
          }
        }
        &:nth-child(3) {
          transform:rotate(30deg);
          a {
            transform: rotate(-30deg);
          }
        }
        &:nth-child(4) {
          transform:rotate(40deg);
          a {
            transform: rotate(-40deg);
          }
        }
        &:nth-child(5) {
          transform:rotate(50deg);
          a {
            transform: rotate(-50deg);
          }
        }
        a {
          position: absolute;
          bottom: 0;
          right: 0;
          display: inline-block;
          line-height: 0;
          border: 2px solid $ja-white;
          border-radius: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 60px;
          width: 60px;
          @media (max-width: 1300px) {
            height: 45px;
            width: 45px;
          }
          &:hover, &:focus {
            text-decoration: none;
          }
        }
      }
    }
  }
  @media (max-width: 960px) {
    .social-holder {
      width: 100%;
      bottom: 0;
      height: auto;
      .list-social-handles {
        height: auto;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: row;
        .list-group-item {
          position: relative;
          width: auto;
          height: auto;
          transform-origin: top left;
          transform: rotate(0deg);
          top: auto;
          left: auto;
          margin: 20px 5px;
          a {
            transform: rotate(0deg);
            position: static;
          }
          &:nth-child(2) {
            transform:rotate(0deg);
            a {
              transform: rotate(0deg);
            }
          }
          &:nth-child(3) {
            transform:rotate(0deg);
            a {
              transform: rotate(0deg);
            }
          }
          &:nth-child(4) {
            transform:rotate(0deg);
            a {
              transform: rotate(0deg);
            }
          }
          &:nth-child(5) {
            transform:rotate(0deg);
            a {
              transform: rotate(0deg);
            }
          }
          a {
            transform: none !important;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .banner-panel-right {
    height: unset;
  }
}

.hp-video-slider {
  // margin-top: 50vw;
  width: 100%;
  @media (min-width: 960px) {
    width: 70%;
    margin-top: -13%;
  }
}

/**/
/* Homepage Navigation */
/**/
@media (min-width: 1280px) {
  .home .homepage-navbar {
    .nav-item {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .nav-item a {
      font-size: 14px;
    }
    .navbar-nav {
      margin: 0 !important;
      height: 100px;
    }
  }
}

/**/
/* Headings */
/**/
.cta-heading {
  @media (min-width: 992px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  // display: flex;
  // text-align: center;
  .heading__cta {
    @media (min-width: 992px) {
      a {
        margin: 0
      }
    }
  }
  .block-heading {
    // text-align: center;
  }
}
.arrow-cta {
  font-family: trade-gothic-next-condensed, sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: $ja-gray3;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  // justify-content: center;
  font-size: 25px;
  margin: 15px 20px 25px 28px;

  &:after {
    content: '';
    background-image: url('../../static/icons/arrow.png');
    display: block;
    background-size: cover;
    height: 22px;
    width: 40px;
    margin-left: 15px;
    margin-top: 3px;
    transition: 0.15s margin ease-out;
  }
  &:hover, &:focus {
    color: $ja-gray4;
    text-decoration: none;
    @media (min-width: 992px) {
      padding-left: 20px;
    }
    &:after {
      margin-left:20px;
      margin-right: -10px;
    }
  }
}
.arrow-cta--light {
  color: $ja-gray2;
  &:hover, &:focus {
    color: $ja-gray1;
  }
}


/**/
/* Upcoming Events */
/**/
.upcomming-events {
  @media (min-width: 992px) {
    border-radius: 95px;
    margin: 0 40px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .heading-red span {
    color: $ja-red;
  }
  .events-card__container {
    .events-card {
      background-color: transparent;
      border-radius: 500px;
      .card-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .btn {
          width: 100%;
        }
        .card-title {
          a {
            color: $ja-black;
            font-weight: 800;
            @media (min-width: 960px) {
              font-size: 35px;
            }
          }
          text-transform: uppercase;
          line-height: 1;
          margin-bottom: 15px;
        }
        .card-info {
          @media (min-width: 992px) {
            padding: 0 30px;
          }
        }
        .card-subtitle {
          color: $ja-gray3;
          text-transform: uppercase;
          margin-bottom: 15px;
          font-family: trade-gothic-next-condensed, sans-serif;
          letter-spacing: 0;
          @media (min-width: 960px) {
            margin-bottom: 0;
            font-size: 18px;
          }
        }
      }
      .card__date {
        background-color: $ja-black;
        color: #ffffff;
        height: 100px;
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 500px;
        font-size: 35px;
        line-height: 1;
        margin-bottom: 0;
        span {
          color: $ja-red;
          font-weight: 800;
          font-size: 14px;
        }
      }
      .card-content {
        flex: 1;
        padding-left: 20px;
        padding-right: 20px;
        min-height: unset;
        @media (min-width: 960px) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          // padding-right: 0;
          .btn-primary {
            height: 56px;
            width: 140px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    &:nth-child(2n+1) {
      .events-card {
        background-color: $ja-gray1;
      }
    }
  }
}
.upcomming-events--page {
  padding: 50px 40px;
  border-radius: 95px;
}
